.form-container {
  display: flex;
  border: 1px solid #008891;
  border-radius: 20px;
  background-color: #27c6d1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  height: 300px;
  width: 300px;
}

label {
  font-weight: 400;
  padding: 10px;
}
input {
  border-radius: 5px;
}
button {
  background-color: #14c38e;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(20, 195, 142, 0.75);
}

.spinner-box {
  margin: auto;
  height: 100vh;
  text-align: center;
  padding: 100px;
}
.alert {
  padding: 20px;
  background-color: rgba(244, 67, 54, 0.6); /* Red */
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 15px auto;
  width: 20%;
  text-align: center;
}
