<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


 <div class="container-fluid" style="text-align: center;">
       
            <img style="display: inline; " class="img1" src="assets\images\image-removebg-preview (1).png" alt="w">
            <img style="display: inline; " class="img2" src="assets\images\image-removebg-preview.png" alt="w">

   <div class="row">
    <div class="col-lg-12" style="display: inline; z-index: 2">
        <h1 class="title" style="display: inline; font-family: 'Times New Roman'; font-size: 50px;">Our BOOK STORE</h1>
    </div>

    </div>   
    <div class="row">
        <div class="col-lg-12" style="display: inline; z-index: 2 ;">
            <h3 style="display: inline; font-family: Georgia, serif; font-size: 25px; ">It's time to take a look at our categories</h3>
        </div>
    
        </div>   
    
    <div class="row">
        <div class="col-lg-12" style="display: inline;">
            
            <button class="button-home" mat-raised-button>English</button>
            <button class="button-home" mat-raised-button>Arabic</button>
            <button class="button-home" mat-raised-button>NoteBooks</button>
            <button class="button-home" mat-raised-button>Best selling</button>
            <button class="button-home" mat-raised-button>New arrivals</button>
       
        
       
            </div>
    
        </div>  
</div>
        
        

   
        
        
   
    
    

       


  
