.img1{
    position: absolute;
    max-width: 50%;
    left: 10px;
    top: 400px;
}
.img2{
    position: absolute;
    max-width: 50%;
    top: 200px;
    right: 1px;
    

    
}

.container-fluid{
    padding-top: 200px;  
    background-color: lightblue; 
    height: 700px;
}

button{
    margin-left: 30px;
}
.row{
    margin-bottom: 50px;
}