@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

.nav-bar {
    background-color:#008891;
    height: 15%;
}


.nav-logo {
    margin-right: 15%;
    width: 4.2%;
}

.nav-pages {
    margin-top: 3%;
    vertical-align: center;
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.nav-page{
    color:white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;


}

.cat-angle{
    display: flex;
}
.angle{
    /* transform:rotate(90deg); */
    transform: scale(0.6);
    position: absolute;
    left: 127px;
    top: 0px;
    display: block;
}
.nav-icons {
    margin-top:2%;
    margin-left:5%;
    padding: 0px;
    width:10%;

}


.heart{
    color:red;

}


.person{
    color:white;
}


.cart{
    color:white;
}

.search-box {
    margin-left:10%;
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    width: 30%;
    margin-top: 1.2%;

}

.search-box:hover>.search-btn {
    color: #008891;

}


.search-btn {
    color:#E7E7DE;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    padding-left: 14px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}



