<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<style>
   
</style>

<mat-toolbar class="nav-bar">
    <img class="nav-logo" src="assets/images/bookademiaboldwithoutbackgroundnoname.png" alt="dasdsad">
    
    <ul class="nav-pages">
        <a class="nav-page" mat-button (click)="goHome()" routerLink="home" routerLinkActive="active-link" >HOME</a>
        <a class="nav-page" mat-button>SHOP</a>
        <a class="nav-page cat-angle" mat-button [matMenuTriggerFor]="cat">CATEGORIES <span class="angle">&#xfe40;</span> </a>
        <mat-menu #cat="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="sc">Social science</button>
                <mat-menu #sc="matMenu">
                    <button mat-menu-item> Anthropology </button>
                    <button mat-menu-item> Architecture </button>
                    <button mat-menu-item> Area Studies </button>
                    <button mat-menu-item> Communication Studies  </button>
                    <button mat-menu-item> Management and Marketing </button>
                </mat-menu>
            <button mat-menu-item>Mental Health and Psychology</button>
            <button mat-menu-item>Science and Technology</button>
            <button mat-menu-item>Engineering</button>
            <button mat-menu-item>Medicine and Healthcare</button>
          </mat-menu>
    </ul>

    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Search for a book">
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>

    <ul class="nav-icons">
        <button class="nav-icon" mat-icon-button>
            <mat-icon class="person">person</mat-icon>
        </button>
        <button class="nav-icon" mat-icon-button>
            <mat-icon class="cart">shopping_cart</mat-icon>
        </button>
        <button class="nav-icon" mat-icon-button>
            <mat-icon class="heart">favorite</mat-icon>
        </button>
        <button class="nav-icon" mat-icon-button (click)="goToWishlist()">
            <mat-icon routerLink="wishlist" routerLinkActive="active-link" class="wishlist">collections_bookmark</mat-icon>
        </button>
    </ul>

</mat-toolbar>

<!-- 
<a href='https://www.freepik.com/vectors/reading-day'>Reading day vector created by freepik - www.freepik.com</a> -->
