p{
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    margin-left:-10%;
    line-height: 2rem;
    text-align: center;
}


mat-grid-list{
    display: inline-block;
    top: -21%;
    padding: 3%;
    width: 50%;
    margin-left:40%;
}


mat-grid-tile{
    display: block;
    padding: 3%;
    height: 5%;
}


img{
    height: 50%;
    transition: all 0.4s ease;
    border: 1px solid white;

}

img:hover{
    height: 51%;
    opacity: 85%;
    border: 1px solid white;
    border-radius: 5% 5%;
}

.rating{
    display: absolute;
    position: relative;
    transform: scale(0.5);
    top:35%;
    right:50%;
    margin: -50%;
    z-index: 3;
}

