
<h1 class="title"><span class="title-book">Bookademia</span></h1>


<img class="main-page-background" src="/assets/images/main-page-1.svg" alt="">


<img class="main-page-background-clouds" src="/assets/images/main-page-1-clouds.svg" alt="">

<!-- <img class="main-page-background-books" src="/assets/images/books.svg" alt=""> -->

<!-- <img class="main-page-background-dots" src="/assets/images/dots.svg" alt=""> -->
<!-- <img class="main-page-background-dots-2" src="/assets/images/dots.svg" alt=""> -->
