.container{
    position: relative;
    width: 1280px;
    height: 925px;
    top: 5rem;
    left: 100px;
    margin-bottom: 50px;
  background-color: #F4F4F4;
}
.collection-of-books{
    position: absolute;
    width: 700px;
    height: 850px;
    padding: 50px;
}
.title-container{
    position: absolute;
    top: 20rem;
    left: 5rem;
}