<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    
   
    <div class="" style="background-color: white; margin: 30px;">
        <app-home-navigation></app-home-navigation>
    </div>

    
    <div class="container">
        
        <app-book-collection></app-book-collection>
    </div>
    <div class="container">
       
        <app-book-collection [title] = "data"></app-book-collection>
    </div>
    <div class="container">
       
        <app-arabic-collection></app-arabic-collection>
    </div>

<!--    
    <footer id="footer">

        <div class="icons-img">
          <i class="fab fa-twitter icon"></i>
          <i class="fab fa-facebook-f icon"></i>
          <i class="fab fa-instagram icon"></i>
          <i class="fas fa-envelope icon"></i>
        </div>
          <p>© Copyright 2018 TinDog</p>
      
        </footer> -->
   


      
    
    

