<table cellspacing="20">
    <tr>
        <td><img src="../assets/images/ahmed1.jpg" alt="Ahme Ali's profile picture" width="300" height="300">
        </td>
        <td>
            <h1>Ahmed Ali</h1>
            <p> <i> A computer Engineering and Software Systems student. </i> <br>
            </p>

        </td>
    </tr>

</table>




<hr>
<h3>I worked in several places: </h3>

<table cellspacing="10">
    <tr>
        <td> 2015 - 2017 </td>
        <td> Training assistant at iHub </td>
    </tr>
    <tr>
        <td>2017</td>
        <td>Web developer</td>
    </tr>

</table>
<hr class="style3">
<h3>Educational Background</h3>

<ul>
    <li>Faculty of Engineering Ain Shams University</li>
</ul>

<hr class="style3">
<h3>Book Read and reviews</h3>
<table cellspacing="10">
    <tr>
        <td>To Kill a mockingbird</td>
        <td>⭐⭐⭐⭐⭐</td>
        <td>Error 404 | The impossible</td>
        <td>⭐⭐⭐⭐</td>
    </tr>
    <tr>
        <td>The fundamental of physics | Serway</td>
        <td>⭐⭐⭐</td>
        <td>The unachievable Mission</td>
        <td>⭐⭐⭐⭐⭐</td>
    </tr>
    <tr>
        <td>A life of a student in ASU Engineering </td>
        <td>⭐</td>
    </tr>
</table>