

<!-- 
<h2>featured books</h2>
<hr> -->

<mat-grid-list cols="4" rowHeight="1:1.6">
    <mat-grid-tile>
        <img src="/assets/images/book-cover-1.jpeg" alt="">
        <app-star-rating></app-star-rating>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-2.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-3.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-4.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-5.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-6.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-7.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-4.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-3.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
    <mat-grid-tile>
        <img src="/assets/images/book-cover-6.jpeg" alt="">
        <app-star-rating></app-star-rating>

    </mat-grid-tile>
  
    
    
  </mat-grid-list>